$maximum-column-size: 12;

@mixin create-size-classes($class-prefix) {
  @for $size from 1 through $maximum-column-size {
    :host(.#{$class-prefix}-#{$size}) {
      --wds-column-size: #{$size};
    }
  }
}

:host {
  --wds-column-size: #{$maximum-column-size};

  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-wrap: wrap;
  gap: var(--wds-gap);

  width: calc(
    100% * var(--wds-column-size) / $maximum-column-size - ($maximum-column-size - var(--wds-column-size)) *
      (var(--wds-gap) / $maximum-column-size)
  );

  ::slotted(*) {
    width: 100%;
    margin: 0;
  }
}

@include create-size-classes("sm");

@media only screen and (width >= $screen-size-md) {
  @include create-size-classes("md");
}

@media only screen and (width >= $screen-size-lg) {
  @include create-size-classes("lg");
}
