.theme--autumn {
  --wds-background-color: rgb(60, 53, 53);
  --wds-on-background-color: rgb(230, 219, 219);

  --wds-secondary-color: rgb(230, 219, 219);
  --wds-on-secondary-color: rgb(60, 53, 53);
}
