.container {
  position: relative;

  display: inline-flex;
  flex-direction: column;

  min-width: 0px;
  margin: 0px;
  padding: 0px;

  font-family: var(--wds-font-family);
  font-size: var(--wds-font-size);
  font-weight: var(--wds-font-weight-sm);
  vertical-align: top;

  border: 0px;

  label {
    pointer-events: none;

    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    transform-origin: left top;
    transform: translate(var(--wds-gap-sm), var(--wds-gap-sm)) scale(1);

    overflow: hidden;
    display: block;

    padding: 0px;

    line-height: var(--wds-line-height);
    color: var(--wds-on-secondary-color);
    text-overflow: ellipsis;
    white-space: nowrap;

    transition:
      color var(--wds-transition-duration-sm),
      transform var(--wds-transition-duration-sm),
      max-width var(--wds-transition-duration-sm);
  }

  .input-wrapper {
    cursor: text;

    position: relative;

    display: inline-flex;
    align-items: center;

    box-sizing: border-box;

    color: var(--wds-on-secondary-color);

    border-radius: var(--wds-roundness);

    input {
      display: block;

      box-sizing: content-box;
      width: 100%;
      min-width: 0px;
      height: var(--wds-line-height);
      margin: 0px;
      padding: var(--wds-gap-sm);

      font: inherit;
      color: currentcolor;
      letter-spacing: inherit;

      background: none;
      border: 0px;

      &:focus-visible {
        outline: none;
      }
    }

    fieldset {
      pointer-events: none;

      position: absolute;
      top: -5px;
      right: 0px;
      bottom: 0px;
      left: 0px;

      overflow: hidden;

      min-width: 0%;
      margin: 0px;
      padding: 0px 8px;

      text-align: left;

      border-color: var(--wds-on-secondary-color);
      border-style: solid;
      border-width: 1px;
      border-radius: inherit;

      transition: border var(--wds-transition-duration-sm);

      legend {
        float: unset;
        overflow: hidden;
        display: block;

        width: auto;
        max-width: 0.01px;
        height: 11px;
        padding: 0px;

        font-size: 0.75em;
        white-space: nowrap;

        visibility: hidden;

        transition: max-width var(--wds-transition-duration-xs);

        span {
          display: inline-block;

          padding-right: calc(var(--wds-gap-sm) / 3);
          padding-left: calc(var(--wds-gap-sm) / 3);

          visibility: visible;
          opacity: 0;
        }
      }
    }
  }

  &.has-value,
  &.focused {
    label {
      pointer-events: auto;
      user-select: none;
      transform: translate(14px, -9px) scale(0.75);
      max-width: calc(133% - 32px);
    }

    .input-wrapper {
      fieldset {
        legend {
          max-width: inherit;
        }
      }
    }
  }

  &.focused {
    label {
      color: var(--wds-primary-color);
    }

    .input-wrapper {
      fieldset {
        border-color: var(--wds-primary-color);
        border-width: 2px;
      }
    }
  }
}
